<%= form_with(model: collect_line, local: true) do |form| %>
  <% if collect_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collect_line.errors.count, "error") %> prohibited this collect_line from being saved:</h2>

      <ul>
      <% collect_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
